body {
  background-color: #e8f5e9;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 25vw;
  border: 2px solid black;
  padding: 10px;
}

.seperator {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
}
 img {
  width: 20vw;
  height: 20vh;
  padding: 5vw;
}

  textarea {
    field-sizing: content;
  }